@*@model IEnumerable<Models.Category>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.CategoryName, "Product", "Product", new { id = item.ID }, null)

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>*@


@*@model IEnumerable<Models.Category>*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="employeetable" class="ui celled table">
    <thead>
        <tr>
            <th>ID</th>
            <th>CategoryName</th>
            <th></th>

        </tr>
    </thead>
</table>


<link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.semanticui.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.semanticui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>

    <script>

        function getProductFunc(id)
        {
            window.location.href = '@Url.Action("Product", "Product")/' + id;
        }

        function editFunc(id) {
            window.location.href = '@Url.Action("EditView", "Home")/' + id;
        }

        function deleteFunc(id) {
            window.location.href = '@Url.Action("Delete", "Product")/' + id;
        }
        $(document).ready(function () {
            $("#employeetable").DataTable({
                "ajax": {
                    "url": "/Home/EventPagination",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "ID", "name": "ID" },
                    {
                        "data": "CategoryName",
                        "name": "CategoryName",
                        "render": function (data, type, row, meta) {
                            if (type === 'display') {
                                data = '<a href="#" onclick="getProductFunc(' + row["ID"] + ');" >' + data + '</a>';
                            }
                            return data;
                        }
                    },
                    {
                        "data": "CategoryName",
                        "name": "CategoryName",
                        "render": function (data, type, row, meta) {
                            if (type === 'display') {
                                data = '<a href="#" onclick="editFunc(' + row["ID"] + ');" >Edit</a>'
                                + ' | <a href="#" onclick="deleteFunc(' + row["ID"] + ');" >Delete</a>';
                            }
                            return data;
                        }
                    }
                ],

                "serverSide": "true",
                "order": [0, "asc"],
                "processing": "true",
                "language": {
                    "processing": "processing... please wait"
                }



            });
        });


    </script>
}